.profilePage {
  display: flex;
  justify-content: center; /* 전체 컨테이너를 화면 가로 중앙에 배치 */
  padding: 32px 0 0 0;
  width: 100%; /* 부모 전체 폭 */
  box-sizing: border-box;
}

/* 메인 영역 */
.mainContent {
  flex: 1; /* 남는 공간 모두 차지 */
  max-width: 800px; /* 최대 폭 제한 */
  padding: 5px;
}

.profileSectionTitle {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #f0f0f0; /* subtle한 구분선 */
  letter-spacing: -0.5px;
}

/* editBtn 버튼 */
.editBtn button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  background: var(--color-button-primary);
  color: white;
}

.editBtn button:hover {
  background: var(--color-button-primary-hover);
}

/* 프로필 view */
.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileHeader {
  padding: 24px 24px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  object-fit: contain;
}

.nicknameText {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.emailText {
  margin: 0;
  color: #666;
  line-height: 20px;
}

.providerLogo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.nicknameInputContainer {
  width: 100%;
  max-width: 400px;
}

.nicknameInput {
  width: 100%;
  box-sizing: border-box;
}

.bodyProfileView {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding: 16px 24px;
  border: 1px solid var(--color-box-gray);
  border-radius: 12px;
}

.bodyProfileView div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: baseline;
}

.bodyProfileView div div:last-child {
  font-weight: bold;
}

/* 프로필 edit */
.inlineLabel {
  display: flex;
  align-items: center;
  gap: 8px; /* input과 단위 사이 간격 */
  margin: 12px 0;
  
}

.inlineLabel input {
  width: 100px; /* 숫자 입력 칸 고정 */
  margin: 0;
}

.inlineLabel span {
  white-space: nowrap; /* 줄바꿈 방지 */
}

input,
select {
  width: 100%;
  border: 1px solid var(--color-border-gray);
  padding: 8px;
  border-radius: 6px;
  margin-top: 4px;
}

.warning, 
.hint  {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
  margin-bottom: 12px;
}

.activityLevel button {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border: 1px solid var(--color-border-gray);
  border-radius: 6px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.activityLevel button:hover {
  background-color: #e9e9e9;
}

.activityLevel button.active {
  background-color: var(--color-button-primary);
  color: white;
  border-color: #007bff;
}

.editActions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.editActions button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.editActions button:first-child {
  background: var(--color-button-primary);
  color: white;
}

.editActions button:first-child:hover {
  background: var(--color-button-primary-hover);
}

.editActions button:last-child {
  background: #f1f1f1;
}

.editActions button:last-child:hover {
  background: #ddd;
}

/* Edit panel */
.profileEditContainer .editLayout {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 8px;
}

.profileEditContainer .leftPanel {
  flex: 2; /* 왼쪽 패널을 더 넓게 설정 */
}

.profileEditContainer .rightPanel {
  flex: 1; /* 오른쪽 패널 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileImageEdit .profileImage {
  margin-bottom: 15px;
}


.changeImageBtn,
.removeImageBtn {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: var(--color-gray-hover);
}

.changeImageBtn:hover,
.removeImageBtn:hover {
  background-color: var(--color-box-gray);
}