.profilePage {
  display: flex;
  justify-content: center; /* 전체 컨테이너를 화면 가로 중앙에 배치 */
  padding: 32px 0 0 0;
  width: 100%; /* 부모 전체 폭 */
  box-sizing: border-box;
}

/* 메인 영역 */
.mainContent {
  flex: 1; /* 남는 공간 모두 차지 */
  max-width: 800px; /* 최대 폭 제한 */
  padding: 5px;
}

/* 프로필 섹션 제목 */
.profileSectionTitle {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 0;
  padding-bottom: 8px;
  border-bottom: 1.5px solid var(--color-header-bottom);
}

/* selectBtn 버튼 */
.selectBtn button {
  background: var(--color-bg);
  padding: 10px 20px;
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.selectBtn button:hover {
  background: var(--color-hover-gray);
}

/* 프로필 View */
.profileContainer {
  display: flex;
  flex-direction: column;
}

.ViewHeader {
  padding: 24px 32px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 24px;
  border: 1px solid var(--color-border-gray);
  border-radius: 16px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  object-fit: contain;
}

.nicknameText {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.emailText {
  margin: 0;
  color: #666;
  line-height: 20px;
}

.providerLogo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.ViewBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding: 16px 32px;
  border: 1px solid var(--color-border-gray);
  border-radius: 16px;
}

.ViewBody div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: baseline;
}

.ViewBody div div:last-child {
  font-weight: 600;
}


/* 프로필 Edit */
.profileEditContainer {
  background: #fff;
  border: 1.5px solid var(--color-border-gray);
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 32px;
}

.profileEditContainer .editLayout {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
}

.profileEditContainer .leftPanel {
  flex: 2;
}

.profileEditContainer .rightPanel {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nicknameInputContainer {
  width: 100%;
  max-width: 400px;
  margin-bottom: 18px;
}

.nicknameInput {
  width: 100%;
  box-sizing: border-box;
}

.inlineLabel {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.inlineLabel span {
  white-space: nowrap; /* 줄바꿈 방지 */
  font-size: medium;
}

.inlineLabel span:first-child {
  margin-right: 16px;
}

.inlineLabel input {
  width: 100px; /* 숫자 입력 칸 고정 */
  margin: 0;
}

.inlineLabel span:last-child {
  margin-left: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1.5px solid var(--color-border-gray);
  border-radius: 6px;
  transition: border-color 0.2s;
}

input:focus, select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
  outline: none;
}

.warning, 
.hint  {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  margin-bottom: 12px;
}

.activityLevel button {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border: 1px solid var(--color-border-gray);
  border-radius: 6px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
}

.activityLevel button:hover {
  background-color: #e9e9e9;
}

.activityLevel button.active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}

.editActions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.editActions button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.editActions button:first-child {
  background: none;
}

.editActions button:first-child:hover {
  background: var(--color-hover-gray);
}

.editActions button:last-child {
  background: var(--color-primary);
  color: white;
}

.editActions button:last-child:hover {
  background: #0056b3;
}

.profileImageEdit .profileImage {
  margin-bottom: 15px;
}

.changeImageBtn,
.removeImageBtn {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--color-border-gray);
  background: none;
}

.changeImageBtn:hover,
.removeImageBtn:hover {
  background-color: var(--color-hover-gray);
}