# application.yaml 무시
src/main/resources/application.yml
src/main/resources/application.yaml
src/main/resources/application-dev.yml

# Java class files
*.class

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Build
/build
/bin

.DS_Store/
/target

/target
/target/
**/target/

.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# src/main, src/test 코드는 추적하되, yaml 파일은 무시
src/**/*.yml
src/**/*.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.gradle
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/