# =====================
# YAML 파일 무시
# =====================
# application.yml / application.yaml 무시
src/main/resources/application.yml
src/main/resources/application.yaml
src/main/resources/application-dev.yaml
# src 전체의 yml/yaml 파일 무시 (src/main, src/test 코드 제외)
src/**/*.yml
src/**/*.yaml

# =====================
# Java class files
# =====================
*.class

# =====================
# Eclipse
# =====================
.classpath
.project
.settings/

# =====================
# IntelliJ IDEA
# =====================
*.iml
*.ipr
*.iws
.idea/
.gradle

# =====================
# STS
# =====================
.apt_generated
.springBeans
.sts4-cache

# =====================
# NetBeans
# =====================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =====================
# Maven Wrapper
# =====================
!.mvn/wrapper/maven-wrapper.jar

# =====================
# Build / Target
# =====================
/build/
/bin/
/target/
/target/**

# =====================
# VS Code
# =====================
.vscode/

# =====================
# macOS
# =====================
.DS_Store
.DS_Store/

# =====================
# 기타 문서
# =====================
HELP.md