.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modalContent {
  background: var(--color-bg);
  padding: 16px 24px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-header-bottom);
  box-shadow: var(--shadow-header-bottom);
}

.closeButton {
  border: none;
  background: none;
}

.closeButton svg:hover {
  background-color: var(--color-gray-hover);
  border-radius: 6px;
}

.closeButton:hover {
  cursor: pointer;
}

.selectImageView {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  justify-items: center;
}

.selectImageView button {
  padding: 0;
  border: 1px #ccc solid;
  border-radius: 12px;
  background: var(--color-bg);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectImageView button:hover {
  border-color: var(--color-button-primary);
  box-shadow: 0 0 0 2px #e3f0ff;
  cursor: pointer;
}

.selectImageView button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}