/* 전역 CSS 설정 */
:root {
  /* 크기 */
  --header-h: 64px;     /* 헤더 높이 */

  /* 색상 */
  --color-bg: #fff;
  --color-overlay: rgba(0,0,0,0.4);
  --color-header-bottom: #e5e7eb;
  --color-border-gray: #dee2e6;
  --color-hover-gray: #f8f9fa;
  --color-primary: #007bff;

  /* shadow */
  --shadow-header-bottom: 0 1px 0 rgba(0,0,0,0.02);

}

/* 메인 영역(페이지별로 바뀌는 부분)  */
.mainArea {
  margin-top: 64px;
  background-color: var(--color-bg);
  width: 100%;
  min-height: calc(100vh - var(--header-h));
}