/* 전역 CSS 설정 */
:root {
  /* */
  --color-bg: #fff;
  --color-overlay: rgba(0,0,0,0.4);
  --color-header-bottom: #e5e7eb;
  --color-border-gray: #ddd;
  --color-box-gray: #e0e0e0;
  --color-gray-hover: #f0f0f0;

  /* 버튼 색상 */
  --color-button-primary: #007bff;
  --color-button-primary-hover: #0056b3;

  /* shadow */
  --shadow-header-bottom: 0 1px 0 rgba(0,0,0,0.02);
  /* --shadow-card: 0 2px 8px rgba(0,0,0,0.04); */

}

/* 메인 영역(페이지별로 바뀌는 부분)  */
.mainArea {
  margin-top: 64px;
  background-color: var(--color-bg);
  width: 100vw;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
}