header {
  border-bottom: 1px solid var(--color-header-bottom);
}

a:hover {
  background-color: var(--color-gray-hover);
  border-radius: 10px;
}

/* 드롭다운 메뉴 */
#dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0; /* 우측 기준 드롭다운 */
  margin-top: 8px;
  background: var(--color-bg);
  border: 1px solid var(--color-border-gray);
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
  min-width: 120px;
}

.dropdownItem {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdownItem:hover {
  background: var(--color-gray-hover);
}
