/* 드롭다운 메뉴 */
#dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0; /* 우측 기준 드롭다운 */
  margin-top: 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
  min-width: 120px;
}

.dropdownItem {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.dropdownItem:hover {
  background: #f0f0f0;
}
